
#Header
##Subheader
##SubSubHeader

This here is subtext. Each one of these boxes is a cell. There are two types of cells, we
have code and text. That is self explanatory.

##Introduction

In [3]:
2+2

4

In [4]:
2+2
4+4

'two' + 'two'

a=10
b=2.3
c= a*b
print(c)
print(type(c))
 # we didn't save the info of 2x2 to anything so it'll just output the last item calculated. Also in the code cells anything after a hashtag is a comment.

23.0
<class 'float'>

In [5]:
print(2+2)
print(4+4)

4
8

In [6]:
print('Hello World')

Hello World

In [7]:
#print('hello'+5)
#This will print an error since we can only concatenate strings not integers to strings

In [8]:
print('Hello World', 2+2,'This is python')

Hello World 4 This is python

In [9]:
print('Hello World',2+2,'This is python', sep='')

Hello World4This is python

##1.1-1.3 Intro to Variables

A mobile store MobiWorld sells different mobile phones to customers. For each order that is placed, the store keeps a record of various attributes related to the mobile, like Price, Brand, RAM (GB), and Internal Storage (GB).

Let's learn Python using the context of the store's data.
We have to store variables to python.
We won't really create objects in python, but we will use variables and need to store these variables so that we can edit these later as well.

Variables have rules:
**They must start with a letter.**

In [10]:
price= 900
brand= 'Apple'
ram = 4
storage= 128
print('The price of the mobile phone is $',price, sep='')
print('The Brand of the mobile phone is ', brand)
print('The RAM of the mobile is ',ram, ' GB' ,sep='')
print('The internal sotrage of the mobile is ',storage, ' GB.', sep='')

The price of the mobile phone is $900
The Brand of the mobile phone is  Apple
The RAM of the mobile is 4 GB
The internal sotrage of the mobile is 128 GB.

Q. Let's say the store wants to save the information on the billing status of the above phone in a boolean variable. Write the code in Python to implement the same.

## 1.4-1.5 Types of Variables.
Types of variables
Boolean== true or false
Int== whole number
Str== collection of characters
type()= is a function so that you can check and see what kind of variable something is.

In [11]:
is_billed= True
print(is_billed)

True

The value that we store in a variable can be a number or a set of characters or a boolean variable (True/False). For example, a price is a number while the brand name is a set of characters which is also known as a string in python. Whenever we store a value in a variable, Python automatically assigns a data type to that variable based on the value. It also allows us to check the data type of the variable.

Q. Check the data type of the variables **price**, **brand**, **ram**, and **storage**

In [12]:
# check the data-type using the type function
type(price)
type(brand)
type(ram)

type(storage)
type(is_billed)

bool

In [13]:
# calcuate the total bill and store it in variable 'bill'
bill = price + price
# the same result can be achieved by multiplication.
bill = price*2
print('The bill amount is $',bill,sep='')

The bill amount is $1800

In [14]:
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# store the discount amount in variable 'discount'
discount = 15
# calculate the discounted price
price_after_discount = price - discount
print('The price of the iPhone after the discount is $',price_after_discount,sep='')

The price of the iPhone after the discount is $885

In [15]:
# store the bill (in dollars) of the mobile in variable 'bill'
bill = 3600
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# calculate the number of iPhones that the customer buys
x = bill // price
# double divided forces the answer to be an integer!
print('The customer buys', x, 'Apple iPhones')

The customer buys 4 Apple iPhones

##1.6 Type conversion in Variables.

In [16]:
price = 900
discount = price *0.25
finalPrice= price -discount
brand= 'Apple'
ram = 4
print('The discounted price of the iphone is '+str(finalPrice))
print(type(finalPrice))
print(type(price))

#Python cannot do implicit ocnversions and will not concatenate int to strings you cannot add them together
#but you can do an implicit conversion for such cases
brand+ ' '+ str(ram)+ 'GB'

The discounted price of the iphone is 675.0
<class 'float'>
<class 'int'>

'Apple 4GB'

In [17]:
type(discount)

float

##1.7 Data Structures List
For this lets imagine the store we have sells various brands.
We can create a LIST variable to store all the brand names in the store.
Lists are a data structure in python and are used to store the data items inside square brackets[] Where each data item is separated by a comma.

In [18]:
#Creating a list.
#syntax is (name)_list= ['x','y','z','1','2',] so....
brand_list= ['Apple','Samsung','LG','Huawei']
print(type(brand_list))

#We can create lists for other attributes also.
ram_list= [4,12,8,8]
storage_list=[128,128,64,128]
price_list=[900,899, 600, 1000]
print('Ram List:', ram_list)
print('Storage List:', storage_list)
print('Price List:', price_list)


# we can get details of a list such as min, max, length, selecting an index
print(len(ram_list))
print(min(storage_list))
print('The maximum price is $'+str(max(price_list)))
print(price_list[2])
print(price_list[0:2])
print(price_list[-1]) # prints the last value of a list
price_list.pop(3) # for pop you need the index
print(price_list)
price_list.append(1500) # for append you need just the value since it goes at the end of the list anyway.
print(price_list)

brand_list[3]='Motorola'  #is the assignment operator where you select the exact index and assign its value in one command.
print(brand_list)

<class 'list'>
Ram List: [4, 12, 8, 8]
Storage List: [128, 128, 64, 128]
Price List: [900, 899, 600, 1000]
4
64
The maximum price is $1000
600
[900, 899]
1000
[900, 899, 600]
[900, 899, 600, 1500]
['Apple', 'Samsung', 'LG', 'Motorola']

##1.8 Data Structures- Tuple

Tupes are immutable, similar to a list. Instead of square brackets and we use a parenthesis.

In [19]:
Brand = 'Apple'
print(Brand)

Apple

In [20]:
# create a list
brand_list = ['Apple', 'Samsung', 'LG', 'Apple']
brand_list

['Apple', 'Samsung', 'LG', 'Apple']

In [21]:
storage_tuple= (64,64,128)
print(storage_tuple)
print(storage_tuple[2])
print('RAM List:', ram_list)
print('Storage List:', storage_list)
print('Price List:', price_list)

#storage_tuple[1]=60 # this will give an error because you cannot change tuples

(64, 64, 128)
128
RAM List: [4, 12, 8, 8]
Storage List: [128, 128, 64, 128]
Price List: [900, 899, 600, 1500]

##1.9 Data Structures - Dictionary
Dictionaries will have attributes with keys and the key will have a value,
Also these will have strings indexing them and we will use curly brackets to assign it and we separate with commas and use a colon for the key and value seperation.

In [22]:
attributes = {'Brand': 'Apple',
              'RAM': 4,
              'Storage': 128,
              'Price in $':1000}
print(attributes)
print(attributes['Price in $'])
#in dictionaries you can do reassignments
attributes = {'Brand': 'Apple',
              'RAM': 4,
              'Storage': 128,
              'Price in $':1000}
attributes['Price in $']=900
print(attributes)

products={
    'Brand':brand_list,
    'RAM':ram_list,
    'Storage': storage_list,
    'Price in $':price_list
    }

print(products)
keys=products.keys()
print('The keys of the dictionary Products are:\n', keys)

values=products.values()
print('The values of the dictionary Products are:\n', values)

{'Brand': 'Apple', 'RAM': 4, 'Storage': 128, 'Price in $': 1000}
1000
{'Brand': 'Apple', 'RAM': 4, 'Storage': 128, 'Price in $': 900}
{'Brand': ['Apple', 'Samsung', 'LG', 'Apple'], 'RAM': [4, 12, 8, 8], 'Storage': [128, 128, 64, 128], 'Price in $': [900, 899, 600, 1500]}
The keys of the dictionary Products are:
 dict_keys(['Brand', 'RAM', 'Storage', 'Price in $'])
The values of the dictionary Products are:
 dict_values([['Apple', 'Samsung', 'LG', 'Apple'], [4, 12, 8, 8], [128, 128, 64, 128], [900, 899, 600, 1500]])

##1.10 Conditonal Statements

These are blocks of code that will execute if specific condiions are met.
If-else is one of these conditional statements we can use and it can help us make the correct decision given the current data.

In [23]:
budget= int(input('Enter your budget amount'))
price = 600
if price <= budget:
  print('Congrats, you can buy the phone')

else:
  print('Sorry the phone is outside of your budget.')




# You can also make this happen with multiple options.
memory= int(input('Enter your memory amount'))
if memory==32:
  print('The price of the phone is $600')
elif memory ==64:
    print('The price of the phone is $700')
elif memory ==128:
    print('The price of the phone is $900')
else:
  print('Please Enter a valid memory requirement.')

Enter your budget amount800
Congrats, you can buy the phone
Enter your memory amount64
The price of the phone is $700

##1.11 Looping Statements

In [24]:
print (range(6))
print (list(range(6)))
print (list(range(2,6)))
print (list(range(6,15,2)))

range(0, 6)
[0, 1, 2, 3, 4, 5]
[2, 3, 4, 5]
[6, 8, 10, 12, 14]

In [25]:
price=900
for i in range(5,21,5):
  discount = price *(i/100)
  discounted_price= price - discount
  print('The price after providing ', i, ' percent discount is $', discounted_price, sep='')

The price after providing 5 percent discount is $855.0
The price after providing 10 percent discount is $810.0
The price after providing 15 percent discount is $765.0
The price after providing 20 percent discount is $720.0

##1.12 Looping Statements,  While Loop

In [26]:
price = 900
i=5
while i <= 20:
  discount = price *(i/100)
  discounted_price= price - discount
  print('The price after providing ', i, ' percent discount is $', discounted_price, sep='')
  i +=5



a=1
for i in range(1,6):
  a=a*i
  print(a)

The price after providing 5 percent discount is $855.0
The price after providing 10 percent discount is $810.0
The price after providing 15 percent discount is $765.0
The price after providing 20 percent discount is $720.0
1
2
6
24
120

##1.13 List Comprehension

So you can create a loop to iterate through or create a new list with specific instructions. The long logic breakdown is the one below, the one after is where we combine it all into one statement and we learned about

In [27]:
price_list=[900,899, 600, 1000]
discounted_price_list=[]

for x in price_list:
  discounted_price=x-(x*(5/100))
  discounted_price_list.append(discounted_price)

print(discounted_price_list)


discounted_price_list= [x-(x*(5/100)) for x in price_list]
print(discounted_price_list)

budget= int(input('Enter your budget in dollars: '))


within_budget = ['yes' if x <= budget else 'no' for x in discounted_price_list]
print(within_budget)

[855.0, 854.05, 570.0, 950.0]
[855.0, 854.05, 570.0, 950.0]
Enter your budget in dollars: 1000
['yes', 'yes', 'yes', 'yes']

##1.14 Functions
Python functions are instructions of code that perform a specific task.
we can create our own functions and we don't have to rely on just the preexisting ones.

you define one by using the following syntax:

def function_name(parameters):
"function "
statements(s)

In [28]:
def display_iphone_attributes():
  #this function will display the stored attributes of the apple iphone
  price=900
  ram=4
  storage=128
  print('The apple iphone has ', ram, ' GB RAM and ' , storage, ' GB internal sotrage and it costs $', price , sep='')

display_iphone_attributes() # don't forget to get the correct indentation when calling the function


#since this code uses 3 attributes, price, ram and storage. You can also create one function and include the arguments in the definition so it know to expect them and then the body of the function is shorter.
#EXAMPLE
brand = 'apple'
price=900
ram=4
storage=128
def display_iphone_attributes(brand,price, ram, storage):
  print('The ', brand,' iphone has ', ram, ' GB RAM and ' , storage, ' GB internal sotrage and it costs $', price , sep='')
display_iphone_attributes(brand, price, ram, storage)


display_iphone_attributes('samsung' ,800, 64, 256)

# and you can change the values as you see fit as well.

The apple iphone has 4 GB RAM and 128 GB internal sotrage and it costs $900
The apple iphone has 4 GB RAM and 128 GB internal sotrage and it costs $900
The samsung iphone has 64 GB RAM and 256 GB internal sotrage and it costs $800

##1.15 LAMBDA Functions. & return statemnts.

return statements are what run after a function has run and it will send back the end resulto of that function.

In [29]:
def dis_price(discount):
  price =900
  discounted_price= price - price *(discount/100)
  return discounted_price
dp=dis_price(10)
print(dp)

dis_price_lambda= lambda discount :900-(900*(discount/100))
print(dis_price_lambda(10))

810.0
810.0

##1.16 Function - args

In [30]:
def total_amount_due(price1, price2, price3, price4, price5):
  total= price1+price2+price3+price4+price5
  return total

print(total_amount_due(1,2,3,4,5))


# but what if we have an infinite set of numbers.  like when we go grocery shopping, and we don't know how many items will be rung up?

def total_amount (*prices):
  total=0
  for price in prices:
    total += price
  return total

print(total_amount(5,12,1,2,3,4,5,6))

15
38

##1.17 Function -kwargs
in case we want to create a function for a store where we can change the sale and the where we can rung up x amount of items in a purchase

In [31]:
def total_discounted_amount(*prices, discount=0.0):

  total= 0
  for price in prices:
    total +=price
  total_discounted_price = total - discount*total
  return total_discounted_price

print('total discounted order amount:', total_discounted_amount(700,599,650,900,820,630,630,520,799,999,840))
print('total discounted order amount:', total_discounted_amount(700,599,650,900,820,630,630,520,799,999,840, discount=.05))

total discounted order amount: 8087.0
total discounted order amount: 7682.65

In [32]:
def total_discounted_amount(*prices, discount=0.0, **kwargs):

  total= 0
  for price in prices:
    total +=price
  total_discounted_price = total - discount*total
  net_spend= total_discounted_price-kwargs['cashback']
  print(total_discounted_price, net_spend)

additionals= {'cashback':5}
print('total discounted order amount:', total_discounted_amount(700,599,650,900,820,630,630,520,799,999,840,discount=0.05, **additionals))

7682.65 7677.65
total discounted order amount: None

In [33]:
def total_discounted_amount(*prices, discount=0.0, **kwargs):

  total= 0
  for price in prices:
    total +=price
  total_discounted_price = total - discount*total
  net_spend= total_discounted_price-kwargs['cashback']
  if total >+10000:
    reward_points=300
  elif total >=5000:
    reward_points=200
  elif total >=2000:
    reward_points=100
  else:
    reward_points=0

  print(total_discounted_price, net_spend, reward_points)

additionals= {'cashback':5}
print('total discounted order amount:', total_discounted_amount(700,599,650,900,820,630,630,520,799,999,840,discount=0.05, **additionals))

7682.65 7677.65 200
total discounted order amount: None

##QUIZ FOR 1.1

In [37]:
#QUIZ FOR 1.1
#1
a=10
b=5.1
add= a+b
print(type(add))

#2
5==3+2

#3
a=3
print(a+(33))

#4
a='5a'

#print(type(int(a)))

#5
v = 10
w = 25
x = 70
y = 2
z = (v + w) * (x / y)
print(z)

#6
a = 10
b = 5
print("A and B before swapping {},{}".format(a,b))
temp = a #create a third variable and assign the value of a to it
#write the missing code(code missing here)
a=b
b = temp #value of a is in third variable so assign the value to b

print("A and B after swapping {},{}".format(a,b))

#7
celsius = 35
fah = 1.8 * celsius + 32
print("Temperature in Fahrenheit =", fah)

<class 'float'>
36
1225.0
A and B before swapping 10,5
A and B after swapping 5,10
Temperature in Fahrenheit = 95.0

In [38]:
print(type(price))
print(type(brand))
print(type(ram))
print(type(storage))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'int'>

In [39]:
# you can use python to create operations on values
price = 1000
discount = 150
finalPrice= price-discount
print('Final price after discount is $',finalPrice, sep='')

Final price after discount is $850

## QUIZ  1.2- Collection to Variables

In [40]:
#QUIZ FOR 1.2- Collection to Variables
#1
repeated_list = [2] * 4
print(repeated_list)


#2
fruit = ["apple","orange","grapes","watermelon"]
print(fruit[-2])

#3
fruit = ["apple","orange","grapes","watermelon"]
fruit[0] = "strawberries"
print(fruit)

#4
alphabet = ['a','b','c']
for i in alphabet:
 print(i)


#5
number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i * i
 print(sq)
print(len(number))


#6
color = ['white','red', 'blue', 'green','blue','yellow', 'black']
color.pop(5)#6how to pop an item
print(color)
print(len(color))#8 how to print the color

#9how to declare it
car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
car["year"] = 2019 #10 how to change the year
print(car)


#DAMMMNNN it, i got a 9/10 cuz i forgot to answer a question.

alphabets = {'1':'A','2':'B','3': ['C','D','E']}
alphabets['3'][2]

list = ["Great", 51, True, 46, "Hi"]
list[2:-1]

list_mul = ['2','2','2']
list_mul*2

lambda_cube = lambda n: n*n*n
print(lambda_cube)

[2, 2, 2, 2]
grapes
['strawberries', 'orange', 'grapes', 'watermelon']
a
b
c
1
144
576
1296
121
400
2500
7
['white', 'red', 'blue', 'green', 'blue', 'black']
6
{'brand': 'Audi', 'model': 'Q2', 'year': 2019}
<function <lambda> at 0x7dd5284efeb0>

##QUIZ FOR 1.3- Conditional Statements

In [41]:
#QUIZ FOR 1.3
#1 what will this print
a = 56
if a == 10:
 print("Hello")
else:
 print("Good Bye")

#2 Choose the appropriate snippet to check whether a number is even or odd:
a = 2020
if a % 2 == 0:
 print("Number is Even")
else:
 print("Number is Odd")

#3 what's the output

length = 5
breadth = 10
# find the area and perimeter of the rectangle
Area = length * breadth
Perimeter = 2 * (length + breadth)
# check whether the area of the rectangle is greater than the perimeter of the rectangle
if Area > Perimeter:
 print("Area of the rectangle is greater than the Perimeter of the rectangle")
else:
 print("Perimeter of the rectangle is greater than the Area of the rectangle")


#4

m1 = 72
m2 = 85
m3 = 96
m4 = 42
m5 = 95
avg = (m1 + m2 + m3 + m4 + m5) / 5
print("Average=", avg)
if avg > 90:
 print("Grade A")
elif avg > 80:
 print("Grade B")
elif avg > 70:
 print("Grade C")
elif avg > 60:
 print("Grade D")
elif avg > 50:
 print("Grade E")
else:
 print("Fail")


#5

x = 6
y = 8
z = 12
if x == y == z:
  print("Equilateral triangle")
elif x==y or y==z or z==x:
  print("isosceles triangle")
else:
  print("Scalene triangle")


#6


a = "I am a Data Scientist"
if "Data" in a:
 print("It is present")
else:
 print(False)

#7
a = -99
if a > 0:
 print("Number is Positive")
else:
 print("Number is negative")

#8

x = 20
y = 30
if x < y:
 print("X is less than Y")
#9
age = int(input('Enter your age: '))
if age < 18:
 print("Not Eligible for work")
elif age >= 18 and age <= 60:
 print("Eligible to work")
else:
 print("Too old to work as per the government rules")



#10

first = 25
second = 34
third = 45
if first >= second and first >= third:
 print(first)
elif second >= first and second >= third:
 print(second)
elif third >= first and third >= second:
 print(third)
else:
 print("All of the values are equal")

Good Bye
Number is Even
Area of the rectangle is greater than the Perimeter of the rectangle
Average= 78.0
Grade C
Scalene triangle
It is present
Number is negative
X is less than Y
Enter your age: 60
Eligible to work
45

## QUIZ 1.4 Looping Statements

In [42]:
#QUIZ FOR 1.4
#1 Which among the below snippets can be used to print all integers between -10 to -1 including both -10 and -1?

for i in range(-10, 0, 1):
 print(i)
#2

n = 10
i = 1
while i <= n:
 print(i)
 i = i + 1

#3

for i in range(1, 21):
 if i % 2 == 0:
     print(i)


#4

n = 8
for i in range(1, 11):
 print("{} ^ {} =".format(n, i), n**i)

#5
for i in range(1, 101):
 if(i % 3 == 0 and i % 5 == 0):
     print("FizzBuzz")
 elif (i % 3 == 0):
     print("Fizz")
 elif(i % 5 == 0):
     print("Buzz")
 else:
     print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
8 ^ 1 = 8
8 ^ 2 = 64
8 ^ 3 = 512
8 ^ 4 = 4096
8 ^ 5 = 32768
8 ^ 6 = 262144
8 ^ 7 = 2097152
8 ^ 8 = 16777216
8 ^ 9 = 134217728
8 ^ 10 = 1073741824
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [43]:
#part two of quiz 1.4
#6
sum = 0
for i in range(1, 101):
 sum = sum + i
print(sum)


#7
for i in range(202, 321):
    if i % 7 == 0 and i % 5 != 0:
        print(i)
#8
st = "Data Science"
count = 0
for i in st:
 if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
     count = count + 1
print(count) # prints the vowels
#9
a = "Data Science"
for i in range(0, 5):
 print(a)
#10

5050
203
217
224
231
238
252
259
266
273
287
294
301
308
5
Data Science
Data Science
Data Science
Data Science
Data Science

In [44]:
def num(x):
 y = x * x
 z = y + 5
 return z

print(num(5))

30

##QUIZ 1.5 Functions Quiz

In [45]:
#quiz 1.5

#1

def mths(a, b):
 print(a + b)
 print(a - b)
 print(a * b)
 print(a // b)

mths(9, 5)

#2
def sq():
 for i in range(1, 11):
     print(i ** 2)



#3
def simple_interest(p, r, t):
 si = (p * r * t) / 100
 return si

#4
 a=128
def chk(a):
 if a % 25 == 0:
     return True
 else:
     print("Not Divisible")

#5
def num(x):
 y = x * x
 z = y + 5
 return z

print(num(5))

#6 Choose the appropriate code snippet to define a lambda function that performs the following task: Takes an input, squares it, adds 5, then return the answer
function = lambda x: x * x + 5

#7
def power(a, b):
 return a ** b
power(7,2)

#8
def sq(base, height):
 return 0.5 * base * height
sq(5, 10)

#9
def greet(country):
 print("I am from", country)
greet("Sweden")

#10


def convert(celsius):
 fah = 1.8 * celsius + 32
 print("Temperature in Fahrenheit =", fah)
convert(20)

14
4
45
1
30
I am from Sweden
Temperature in Fahrenheit = 68.0

In [46]:
def sq():
 for i in range(1, 10):
     print(i ^ 2)